<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/bea51019-3e07-4db7-8e57-92a6189504a2/resourceGroups/smarttranslate/providers/Microsoft.ContainerRegistry/registries/smarttranslate</ResourceId>
    <ResourceName>smarttranslate</ResourceName>
    <ResourceGroup>smarttranslate</ResourceGroup>
    <Subscription>Subscription SmartTranslate</Subscription>
    <RegistryUrl>https://smarttranslate.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8b34f27e-7f11-43bd-aa17-aae193c80d99</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>